body { margin: 0; overflow: hidden; font-family: 'Orbitron', sans-serif; }

#boot-screen {
    position: fixed;
    width: 100%; height: 100%;
    background: black;
    color: #00ecff;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
}

.vital-bar {
    position: absolute; bottom: 50px; left: 50px;
    width: 250px; height: 10px;
    background: rgba(0,0,0,0.5); border: 1px solid #00ecff;
}

#health-fill { width: 100%; height: 100%; background: #00ecff; transition: 0.5s; }
